{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 style="margin-top:5%;margin-bottom:3%;">Please sign in</h1>
    <div style="display: flex;flex-flow: column wrap;align-items: center;">
    <label for="inputEmail" style="margin-bottom:1%;">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus style="width:35%;">
    <label for="inputPassword" style="margin-bottom:1%;margin-top:3%;">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required style="width:35%;">
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div style="text-align: center;margin-top:3%;">
    <button class="btn btn-secondary" type="submit" style="width:30%;">
        Sign in
    </button>
    </div>
</form>
{% endblock %}
