{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 style="margin-top:5%;margin-bottom:3%;">Register</h1>

    {{ form_start(registrationForm) }}
    <div style="display: flex;flex-flow: column wrap;align-items: center;">
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
    </div>
    <div style="display: flex;flex-flow: column wrap;align-items: center;">
        <button type="submit" class="btn btn-success" style="width:200px;">Register</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
