{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
<h1 style="margin-top:5%;margin-bottom:3%;">Salsifi Forum</h1>

<table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th>Titre</th>
                <th>Contenu</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr class="table-light">
                <td>{{ topic.title }}</td>
                <td>{{ topic.content }}</td>
                <td>{{ topic.createdAt ? topic.createdAt|format_datetime(locale='fr') : '' }}</td>
                <td>{{ topic.updatedAt ? topic.updatedAt|format_datetime(locale='fr') : '' }}</td>
                <td>
                    <a href="{{ path('topic_show', {'id': topic.id}) }}">Voir</a>
                    {% if (is_granted('IS_AUTHENTICATED_FULLY') and user.id == topic.user.id)%}<a href="{{ path('topic_edit', {'id': topic.id}) }}" style="display:hidden;">Editer</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun sujet trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if (is_granted('IS_AUTHENTICATED_FULLY'))%}
        <a href="{{ path('topic_new') }}" class="nav-link" style="display:flex;align-items:center;justify-content:center;" >Créer un nouveau sujet</a>
    {% endif %}
{% endblock %}
