{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
<h1 style="margin-top:5%;margin-bottom:3%;">Salsifi Forum</h1>

<table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th>Titre</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
        {% set report = { 'id': topic.idReporter}  %}
        {% dump(report.id)%}
            <tr class="table-light">
                <td>{{ topic.title }}</td>
                {% if topic.updatedAt %}
                    <td>Modifié le {{ topic.updatedAt|format_datetime(locale='fr') }}</td>
                {% else %}
                    <td>Créé le {{ topic.createdAt|format_datetime(locale='fr') }}</td>
                {% endif %}
                <td>
                {% if topic.isReported %}
                    <i>Contenu signalé</i>
                    {% if user.id is defined and topic.userReporter == user.id %}      
                        {{ include('report/_delete_form.html.twig') }}
                    {% endif %}
                {% else %}
                    <a href="{{ path('topic_show', {'id': topic.id}) }}">Voir</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun sujet trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if (is_granted('IS_AUTHENTICATED_FULLY'))%}
        <a href="{{ path('topic_new') }}" class="nav-link" style="display:flex;align-items:center;justify-content:center;" >Créer un nouveau sujet</a>
    {% endif %}
{% endblock %}
